<template>
  <div>
    <Header />
    <div class="us">
      <div class="about">
        <h1>About Us</h1>
        <h5>Home - <b>Page</b></h5>
      </div>
      <br />
      <div class="app">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="img1">
                <img
                  src="@/assets/skincare.jpg"
                  style="width: 35rem; height: 23rem; margin-bottom: 5rem"
                />
              </div>
            </div>
            <div class="col">
              <h2>Welcome to Hara</h2>
              <span style="color: cadetblue; font-size: 2rem">
                <center>~~~~</center>
              </span>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore
                neque praesentium ab commodi! Expedita officiis rerum
                necessitatibus vitae commodi vero modi nesciunt aspernatur
                distinctio nostrum consectetur
                <b
                  ><br /><br />
                  "iusto minus, reiciendis adipisci. Lorem ipsum dolor sit amet
                  consectetur adipisicing elit. Sequi quam sit ducimus quo
                  quidem atque quis soluta totam? Assumenda adipisci deserunt
                  voluptatibus esse sint ea culpa nostrum officia, dolores
                  inventore!. Lorem ipsum dolor sit, amet consectetur
                  adipisicing elit."</b
                >
              </p>
              <br />
              <img src="@/assets/ttd.png" style="width: 100px; hieght: 100px" />
              <p><b>James</b><br />James Bank -CEO</p>
            </div>
          </div>
          <hr />
          <br />
          <div class="pro">
            <div class="row-pro">
              <div class="img2">
                <img src="@/assets/sc-1.jpg" class="img" />
              </div>
              <div class="img3">
                <img src="@/assets/sc-3.jpg" class="img" alt="foto 2" />
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-sm">
                <h3>Our Mission</h3>
                <span style="color: cadetblue; font-size: 2rem">
                  <center>~~~~</center>
                </span>
                <p>
                  Dear friends, Lorem ipsum dolor, sit amet consectetur
                  adipisicing elit. Impedit animi amet quo, consequatur iste
                  tempore sed itaque! Saepe sed aperiam ullam.<br />Provident
                  tempora, dolores eum accusamus iste fuga debitis laboriosam?
                </p>
              </div>
              <div class="col-sm">
                <h3>Creative</h3>
                <span style="color: cadetblue; font-size: 2rem">
                  <center>~~~~</center>
                </span>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
                  possimus, cupiditate repudiandae repellat, inventore ab
                  exercitationem necessitatibus laudantium porro at,<br />impedit
                  architecto! Consequuntur incidunt impedit animi in veniam
                  expedita doloremque.
                </p>
              </div>
              <div class="col-sm">
                <h3>Sustainability</h3>
                <span style="color: cadetblue; font-size: 2rem">
                  <center>~~~~</center>
                </span>
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Officiis, cumque. Cupiditate perferendis dolor consequatur ad
                  ullam culpa<br />aut ex itaque eligendi error, nam inventore
                  tenetur doloremque atque asperiores minus nisi.
                </p>
              </div>
            </div>
          </div>
          <br />
          <hr />
          <br />
          <br />
          <div class="container-fluid pt-5">
            <h2><center>Our Team</center></h2>
            <span style="color: cadetblue; font-size: 2rem">
              <center>~~~~</center>
            </span>
            <!-- our team -->
            <div class="team">
              <div class="row px-xl-5">
                <div class="col-lg-4 text-center col-md-6 pb-1">
                  <div class="cat-item d-flex flex-column border-0 mb-4">
                    <div class="img4">
                      <img
                        src="@/assets/pp-11.jpg"
                        style="border-radius: 200px"
                        class="card-img-top w-75 h-75"
                        alt="foto 3"
                      />
                    </div>
                    <h5>Cody Fisher</h5>
                    <p>MCDonal's</p>
                  </div>
                </div>
                <div class="col-lg-4 text-center col-md-6 pb-1">
                  <div class="cat-item d-flex flex-column border-0 mb-4">
                    <div class="img5">
                      <img
                        src="@/assets/pp-8.png"
                        style="border-radius: 200px"
                        class="card-img-top w-75 h-75"
                      />
                    </div>
                    <h5>Floyd Miles</h5>
                    <p>MasterCard</p>
                  </div>
                </div>
                <div class="col-lg-4 text-center col-md-6 pb-1">
                  <div class="cat-item d-flex flex-column border-0 mb-4">
                    <div class="img6">
                      <img
                        src="@/assets/pp-9.jpg"
                        style="border-radius: 200px"
                        class="card-img-topw-75 h-75"
                      />
                    </div>
                    <h5>Arlene McCoy</h5>
                    <p>Louis Vuitton</p>
                  </div>
                </div>
                <br />
                <br />

                <div class="col-lg-4 text-center col-md-6 pb-1">
                  <div class="cat-item d-flex flex-column border-0 mb-4">
                    <div class="img7">
                      <img
                        src="@/assets/pp-4.jpg"
                        style="border-radius: 200px"
                        class="card-img-top w-75 h-75"
                      />
                    </div>
                    <h5>Ronald Richards</h5>
                    <p>The Walt Disney Company</p>
                  </div>
                </div>
                <div class="col-lg-4 text-center col-md-6 pb-1">
                  <div class="cat-item d-flex flex-column border-0 mb-4">
                    <div class="img8">
                      <img
                        src="@/assets/pp-3.jpg"
                        style="border-radius: 200px"
                        class="card-img-top w-75 h-75"
                      />
                    </div>
                    <h5>Cameron Williamson</h5>
                    <p>Sony</p>
                  </div>
                </div>
                <div class="col-lg-4 text-center col-md-6 pb-1">
                  <div class="cat-item d-flex flex-column border-0 mb-4">
                    <div class="img9">
                      <img
                        src="@/assets/pp-10.jpg"
                        style="border-radius: 200px"
                        class="card-img-top w-75 h-75"
                      />
                    </div>
                    <h5>Jenny Wilson</h5>
                    <p>Johnson & Johnson</p>
                  </div>
                  <br /><br />
                </div>
              </div>
            </div>
            <!-- end our team -->
          </div>
          <hr />
          <br />
          <br />
          <br />
          <h2>
            <center>The best team available</center>
          </h2>
          <span style="color: cadetblue; font-size: 2rem">
            <center>~~~~</center>
          </span>
          <!-- the best ream -->
          <div class="the">
            <div class="row">
              <div class="col-sm">
                <div class="cat-item d-flex flex-column border-0 mb-4">
                  <img src="@/assets/pp-6.jpg" class="card-img-top" />
                  <div class="card-body">
                    <h5 class="card-title">Jane Cooper</h5>
                    <p class="card-text">The Walt Disney Company</p>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="cat-item d-flex flex-column border-0 mb-4">
                  <div class="img10">
                    <img
                      src="@/assets/pp-7.jpg"
                      class="card-img-top"
                      alt="pict"
                    />
                  </div>
                  <h5>Guy Hawkins</h5>
                  <p>General Electric</p>
                </div>
              </div>
              <div class="col-sm">
                <div class="cat-item d-flex flex-column border-0 mb-4">
                  <div class="img11">
                    <img
                      src="@/assets/pp-5.jpg"
                      class="card-img-top"
                      alt="pict"
                    />
                  </div>
                  <h5>Courtney Henry</h5>
                  <p>L'Oreal</p>
                </div>
                <br /><br />
              </div>
            </div>
          </div>
          <!-- end the best team -->
          <div class="row">
            <hr />
            <br />
            <br />
            <br />
            <div class="container-fluid pt-5">
              <h3><center>Philosophy</center></h3>
              <span style="color: cadetblue; font-size: 2rem">
                <center>~~~~</center>
              </span>
              <!-- philosophy -->
              <div class="flo">
                <div class="row box">
                  <div class="card" style="width: 18rem; border: hidden">
                    <div class="img12">
                      <img
                        src="@/assets/leaf2.jpg"
                        style="
                          border-radius: 200px;
                          width: 150px;
                          margin-left: 60px;
                        "
                        class="card-img-top"
                      />
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Grean Beauty</h5>
                      <p class="card-text">
                        All cosmetic formulas are organic.The majority of all
                        ingredients is natural.
                      </p>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem; border: hidden">
                    <img
                      style="border-radius: 200px; width: 150px"
                      src="@/assets/leaf2.jpg"
                      class="card-img-top"
                    />
                    <div class="card-body">
                      <h5 class="card-title">Cruelty-Free</h5>
                      <p class="card-text">
                        Even nowaday some cosmetic pro ducts are tested on
                        animals. That is not thr case for us.
                      </p>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem; border: hidden">
                    <img
                      src="@/assets/leaf2.jpg"
                      style="border-radius: 200px; width: 150px"
                      class="card-img-top"
                    />
                    <div class="card-body">
                      <h5 class="card-title">Professional Care</h5>
                      <p class="card-text">
                        All product we use are profesional and have proven
                        effeciency. No compromises.
                      </p>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem; border: hidden">
                    <img
                      src="@/assets/leaf2.jpg"
                      style="border-radius: 200px; width: 150px"
                      class="card-img-top"
                    />
                    <div class="card-body">
                      <h5 class="card-title">Non-Toxic Formula</h5>
                      <p class="card-text">
                        Don't worry, all oour nails polishes and other products
                        are not-toxic.We do care about you and our specialists.
                      </p>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem; border: hidden">
                    <img
                      src="@/assets/leaf2.jpg"
                      style="border-radius: 200px; width: 150px"
                      class="card-img-top"
                    />
                    <div class="card-body">
                      <h5 class="card-title">
                        <center>Personalized Experience</center>
                      </h5>
                      <p class="card-text">
                        Each guest is our favorite guest. Come and make sure
                        that our servivce is exceptional.
                      </p>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem; border: hidden">
                    <img
                      src="@/assets/leaf2.jpg"
                      style="border-radius: 200px; width: 150px"
                      class="card-img-top"
                    />
                    <div class="card-body">
                      <h5 class="card-title">We Love What We Do</h5>
                      <p class="card-text">
                        People that you'll meet in our studio are doing job they
                        love. Come and make sure that is a difference.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- philosophy end -->
          </div>
        </div>
      </div>
    </div>
    <Footer />
  </div>
</template>
<script>
import Header from "@/components/Header/Header.vue";
import Footer from "@/components/Footer/Footer.vue";

export default {
  name: "AboutUs",
  components: {
    Header,
    Footer,
  },
};
</script>
<style scoped>
.about {
  background-image: url("../../assets/sc-2.jpg");
  background-size: cover;
  height: 300px;
  padding-top: 50px;
  padding-left: 100px;
}
.img2 img {
  width: 800px;
  height: 320px;
}
.img3 img {
  width: 303px;
  height: 320px;
}
.flo .box {
  display: flex;
  flex-wrap: wrap;
  /* gap: 5px; */
  justify-content: space-between;
}
.card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.card-body .card-title,
.card-text {
  text-align: justify;
}
.pro .row-pro {
  display: flex;
  gap: 10px;
}

/* * {
  margin: 0;
  padding: 0;
} */
/* .us {
  margin-bottom: -555px;
}
.about {
  background-image: url("../../assets/sc-2.jpg");
  background-size: cover;
  height: 300px;
  padding-top: 50px;
  padding-left: 100px;
}
.team {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-left: 70px;
}
.the {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-left: 70px;
}
.pro {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.flo {
  margin-top: 4rem;
  margin-bottom: 5rem;
  text-align: center;
  padding-left: 70px;
}
.app {
  margin-top: 3rem;
} */

/* responsive */
@media screen and (max-width: 768px) {
  .flo .box {
    justify-content: space-around;
  }
  .img2 img {
    width: 500px;
    height: 300px;
  }
  .img3 img {
    width: 200px;
    height: 300px;
  }
}
</style>