<template>
  <div>
    <Header />
    <div class="all">
      <div class="bag-1">
        <p>Home - <span>Blog</span></p>
      </div>
      <div class="bag-2">
        <div class="title">
          <h1>Gift set</h1>
        </div>
        <div class="konten">
          <!-- isiKonten -->
          <div class="isiKonten">
            <div style="display: flex; flex-wrap: wrap; gap: 20px">
              <div class="product">
                <div class="card krt" style="width: 25rem">
                  <div class="img">
                    <h5
                      style="
                        margin: 25px 235px 0px 0px;
                        padding: 5px 5px 5px 10px;
                        background-color: white;
                        opacity: 65%;
                      "
                    >
                      <b> OCTOBER 21, 2021</b>
                    </h5>
                  </div>
                  <div class="card-body">
                    <p class="card-title">Cream Blush, Gifts set</p>
                    <h5 class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </h5>
                    <br />
                    <div class="cmd">
                      <p><i class="fa fa-circle-user"></i>&nbsp;admin</p>
                      &nbsp;&nbsp;&nbsp;
                      <p><i class="fa fa-comments-o"></i>&nbsp;1 comment</p>
                    </div>
                    <hr />
                    <button class="btn btn-dark">
                      <a href=""
                        >Read More&nbsp;<i class="fas fa-arrow-left"> </i>
                      </a>
                    </button>
                  </div>
                </div>
              </div>
              <div class="product">
                <div class="card krt" style="width: 25rem">
                  <div class="img">
                    <h5
                      style="
                        margin: 25px 235px 0px 0px;
                        padding: 5px 5px 5px 10px;
                        background-color: white;
                        opacity: 65%;
                      "
                    >
                      <b> OCTOBER 21, 2021</b>
                    </h5>
                  </div>
                  <div class="card-body">
                    <p class="card-title">Cream Blush, Gifts set</p>
                    <h5 class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </h5>
                    <br />
                    <div class="cmd">
                      <p><i class="fa fa-circle-user"></i>&nbsp;admin</p>
                      &nbsp;&nbsp;&nbsp;
                      <p><i class="fa fa-comments-o"></i>&nbsp;1 comment</p>
                    </div>
                    <hr />
                    <button class="btn btn-dark">
                      <a href=""
                        >Read More&nbsp;<i class="fas fa-arrow-left"> </i>
                      </a>
                    </button>
                  </div>
                </div>
              </div>
              <div class="product">
                <div class="card krt" style="width: 25rem">
                  <div class="img">
                    <h5
                      style="
                        margin: 25px 235px 0px 0px;
                        padding: 5px 5px 5px 10px;
                        background-color: white;
                        opacity: 65%;
                      "
                    >
                      <b> OCTOBER 21, 2021</b>
                    </h5>
                  </div>
                  <div class="card-body">
                    <p class="card-title">Cream Blush, Gifts set</p>
                    <h5 class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </h5>
                    <br />
                    <div class="cmd">
                      <p><i class="fa fa-circle-user"></i>&nbsp;admin</p>
                      &nbsp;&nbsp;&nbsp;
                      <p><i class="fa fa-comments-o"></i>&nbsp;1 comment</p>
                    </div>
                    <hr />
                    <button class="btn btn-dark">
                      <a href=""
                        >Read More&nbsp;<i class="fas fa-arrow-left"> </i>
                      </a>
                    </button>
                  </div>
                </div>
              </div>
              <div class="product">
                <div class="card krt" style="width: 25rem">
                  <div class="img">
                    <h5
                      style="
                        margin: 25px 235px 0px 0px;
                        padding: 5px 5px 5px 10px;
                        background-color: white;
                        opacity: 65%;
                      "
                    >
                      <b> OCTOBER 21, 2021</b>
                    </h5>
                  </div>
                  <div class="card-body">
                    <p class="card-title">Cream Blush, Gifts set</p>
                    <h5 class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </h5>
                    <br />
                    <div class="cmd">
                      <p><i class="fa fa-circle-user"></i>&nbsp;admin</p>
                      &nbsp;&nbsp;&nbsp;
                      <p><i class="fa fa-comments-o"></i>&nbsp;1 comment</p>
                    </div>
                    <hr />
                    <button class="btn btn-dark">
                      <a href=""
                        >Read More&nbsp;<i class="fas fa-arrow-left"> </i>
                      </a>
                    </button>
                  </div>
                </div>
              </div>
              <div class="product">
                <div class="card krt" style="width: 25rem">
                  <div class="img">
                    <h5
                      style="
                        margin: 25px 235px 0px 0px;
                        padding: 5px 5px 5px 10px;
                        background-color: white;
                        opacity: 65%;
                      "
                    >
                      <b> OCTOBER 21, 2021</b>
                    </h5>
                  </div>
                  <div class="card-body">
                    <p class="card-title">Cream Blush, Gifts set</p>
                    <h5 class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </h5>
                    <br />
                    <div class="cmd">
                      <p><i class="fa fa-circle-user"></i>&nbsp;admin</p>
                      &nbsp;&nbsp;&nbsp;
                      <p><i class="fa fa-comments-o"></i>&nbsp;1 comment</p>
                    </div>
                    <hr />
                    <button class="btn btn-dark">
                      <a href=""
                        >Read More&nbsp;<i class="fas fa-arrow-left"> </i>
                      </a>
                    </button>
                  </div>
                </div>
              </div>
              <div class="product">
                <div class="card krt" style="width: 25rem">
                  <div class="img">
                    <h5
                      style="
                        margin: 25px 235px 0px 0px;
                        padding: 5px 5px 5px 10px;
                        background-color: white;
                        opacity: 65%;
                      "
                    >
                      <b> OCTOBER 21, 2021</b>
                    </h5>
                  </div>
                  <div class="card-body">
                    <p class="card-title">Cream Blush, Gifts set</p>
                    <h5 class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </h5>
                    <br />
                    <div class="cmd">
                      <p><i class="fa fa-circle-user"></i>&nbsp;admin</p>
                      &nbsp;&nbsp;&nbsp;
                      <p><i class="fa fa-comments-o"></i>&nbsp;1 comment</p>
                    </div>
                    <hr />
                    <button class="btn btn-dark">
                      <a href=""
                        >Read More&nbsp;<i class="fas fa-arrow-left"> </i>
                      </a>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- sidebarKonten -->
          <div class="sidebarKonten">
            <div class="card" style="width: 20rem">
              <div class="card-body">
                <h5><b>Search</b></h5>
                <hr />
                <input
                  class="form-control"
                  type="text"
                  placeholder="search...."
                />
              </div>
            </div>
            <br />

            <div class="card" style="width: 20rem">
              <div class="card-body">
                <h5><b>Categories</b></h5>
                <hr />
                <ul>
                  <li>Cream Blush &nbsp;(3)</li>
                  <li>Gift Set &nbsp; (8)</li>
                  <li>Hair ,body &nbsp; (3)</li>
                  <li>make Up &nbsp; (4)</li>
                  <li>Nail, Wax &nbsp; (3)</li>
                  <li>Skin Care &nbsp; (6)</li>
                  <li>Sun CAre &nbsp; (5)</li>
                  <li>Tips &nbsp; (3)</li>
                </ul>
              </div>
            </div>
            <br />
            <div class="card" style="width: 20rem">
              <div class="card-body">
                <h5><b>Recent Post</b></h5>
                <hr />
                <div class="row">
                  <div class="col">
                    <img
                      src="@/assets/cove.jpg"
                      style="width: 100px; height: 100px"
                      alt="pict"
                    />
                  </div>
                  <div class="col">
                    <p>October 21, 2021</p>
                    <h6>
                      <b
                        >Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit.</b
                      >
                    </h6>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col">
                    <img
                      src="@/assets/cove.jpg"
                      style="width: 100px; height: 100px"
                      alt="pict"
                    />
                  </div>
                  <div class="col">
                    <p>October 21, 2021</p>
                    <h6>
                      <b
                        >Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit.</b
                      >
                    </h6>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col">
                    <img
                      src="@/assets/cove.jpg"
                      style="width: 100px; height: 100px"
                      alt="pict"
                    />
                  </div>
                  <div class="col">
                    <p>October 21, 2021</p>
                    <h6>
                      <b
                        >Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit.</b
                      >
                    </h6>
                  </div>
                </div>
                <hr />
              </div>
            </div>
            <br />
            <div class="card empat" style="width: 20rem">
              <div class="card-body">
                <h5><b>Tags</b></h5>
                <hr />
                <div class="btn">
                  <button class="btn shadow bg-dark">
                    <router-link to="/"> Home</router-link>
                  </button>
                  <button class="btn shadow bg-dark">
                    <router-link to="/product"> Produk</router-link>
                  </button>
                  <button class="btn shadow bg-dark">
                    <router-link to="/contact"> Contact </router-link>
                  </button>
                  <button class="btn shadow bg-dark">
                    <router-link to="/informasi"> Informasi</router-link>
                  </button>
                  <button class="btn shadow bg-dark">
                    <router-link to="/display"> Display</router-link>
                  </button>
                  <button class="btn shadow bg-dark">
                    <router-link to="/about"> About Us</router-link>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
import Header from "@/components/Header/Header.vue";
import Footer from "@/components/Footer/Footer.vue";

export default {
  name: "Blogs",
  components: {
    Header,
    Footer,
  },
};
</script> 
<style>
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
}
.all {
  max-width: 1440px;
  margin: auto;
}
.col-3 {
  width: 25%;
}
/* Bag 1 */
.bag-1 {
  background-color: rgb(224, 222, 222);
  padding: 20px 10px 5px 70px;
}
.bag-1 p {
  color: grey;
}
.bag-1 span {
  color: black;
}
/* Bag 2 */
.bag-2 {
  padding: 10px 70px;
}
.title h1 {
  font-weight: bold;
}
.konten {
  display: flex;
  clear: both;
}
/* .konten
  display: grid;
  grid-template-columns: 800px 1fr 1fr;
  grid-template-rows: 80px 1fr 1fr 100px;
  grid-template-areas: "isiKonten isiKonten sidebarKonten";
} */
/* Isi Konten */
.product {
  width: 430px;
  padding: 10px;
  margin-bottom: 30px;
}
.img {
  background-image: url("../../assets/cove.jpg");
  background-size: cover;
  height: 200px;
}
.krt {
  border: hidden;
}
.cmd {
  display: flex;
}
/* Sidebar Konten */
.sidebarKonten {
  grid-area: sidebarKonten;
  padding-top: 10px;
}
.isiKonten {
  grid-area: isiKonten;
}

.empat .btn {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}
.empat .btn button {
  padding: 1px 5px;
}
.dark {
  background-color: black;
}
a {
  color: white;
}
.shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
@media (max-width: 768px) {
  .sidebarKonten {
    display: none;
  }
  .bag-2 {
    padding: 40px 180px;
  }
  a {
    color: white;
  }
}
</style>
